{% extends "base.html" %}

{% block content %}
<section class="page-head">
    <h1>{{ _('mac_settings') }}</h1>
    <a href="{{ url_for('lands_list') }}" class="btn ghost">{{ _('back') }}</a>
</section>

<div class="mac-login card">
    <h2>{{ _('mac_login') }}</h2>
    <form method="post">
        <input type="hidden" name="action" value="login">
        <div class="form-group">
            <label for="password">{{ _('mac_password') }}</label>
            <input id="password" name="password" type="password" class="input" autofocus>
        </div>
        <button type="submit" class="btn primary">{{ _('mac_settings') }}</button>
    </form>
</div>
{% endblock %}
